.hide{
    display: none;
}

button{
    background-color: transparent;
    border: none;
    margin: 0;
}

.header{
    border: 0.3px solid gray;
    background-color: #d3d3d3;
}

.active{
    background-color: #888888;
    color: white;
}

[id^="content-"]{
    padding: 20px;
    border: 0.3px solid gray;
}